<template>
  <div :class="PREFIX">
    <div class="contenido">
      <template v-for="sugerencia of sugerencias" :key="sugerencia.id">
        <cmp-sugerencia :item="sugerencia"/>
      </template>
    </div>
  </div>
</template>

<script src="./cmp-sugerencias.ts" lang="ts"/>
<style src="./cmp-sugerencias.scss" lang="scss" scoped/>
