@import "../../../assets/styles/variables";

$prefix: cmp-sugerencias;

.#{$prefix} {
    height: $vh-100;
    padding: $pix-50 0;

    .contenido {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        height: calc($vh-100 - $pix-100);
        overflow: auto;
    }
}
