<template>
  <div :class="PREFIX" @click="seleccionarVideo()">
    <div class="imagen">
      <div class="img" :style="{'--cmp-sugerencia-imagen': 'url('+item.thumbnail+')'}"></div>
    </div>
    <div class="descripcion">
      <span>{{item.title}}</span>
      <span class="autor">{{item.author}}</span>
      <span class="fecha">{{item.date}}</span>
    </div>
  </div>
</template>

<script src="./cmp-sugerencia.ts" lang="ts"/>
<style src="./cmp-sugerencia.scss" lang="scss" scoped/>
