@import "../../../../assets/styles/variables";

$prefix: cmp-sugerencia;

.#{$prefix} {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    height: $pix-100;

    .imagen {        
        width: $pix-160;
        height: $pix-100;

        .img {
            background-image: var(--cmp-sugerencia-imagen);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $pix-5;
            height: $per-100;
            width: $per-100;
        }
    }

    .descripcion {
        align-items: start;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        height: $per-100;

        .autor, .fecha {
            color: var(--gray-regular, $gray-regular);
            font-size: $pix-12;
        }
    }
}
