$black: #000;
$gray-light: #F4F6FC;
$gray-regular: #A6AAB7;
$purple-light: #9747FF;
$red-regular: #D80001;
$white: #fff;

$pix-5: 5px;
$pix-12: 12px;
$pix-50: 50px;
$pix-90: 90px;
$pix-100: 100px;
$pix-120: 120px;
$pix-160: 160px;

$per-100: 100%;

$vh-100: 100vh;
